# Proyecto Modelación y Simulación

Integrantes:
- Oscar López
- Yong Park
- Rodrigo Barrera

In [12]:
import pandas as pd
import numpy as np

In [13]:
covid_data = pd.read_csv('./data/covid-data.csv')

In [14]:
covid_data

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,9999-99-99,97,2,40,97,2,...,2,2,2,2,2,2,2,2,7,97
1048571,1,13,2,2,9999-99-99,2,2,51,97,2,...,2,2,1,2,2,2,2,2,7,2
1048572,2,13,2,1,9999-99-99,97,2,55,97,2,...,2,2,2,2,2,2,2,2,7,97
1048573,2,13,2,1,9999-99-99,97,2,28,97,2,...,2,2,2,2,2,2,2,2,7,97
1048574,2,13,2,1,9999-99-99,97,2,52,97,2,...,2,2,2,2,2,2,2,2,7,97

In [15]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   DATE_DIED             1048575 non-null  object
 5   INTUBED               1048575 non-null  int64
 6   PNEUMONIA             1048575 non-null  int64
 7   AGE                   1048575 non-null  int64
 8   PREGNANT              1048575 non-null  int64
 9   DIABETES              1048575 non-null  int64
 10  COPD                  1048575 non-null  int64
 11  ASTHMA                1048575 non-null  int64
 12  INMSUPR               1048575 non-null  int64
 13  HIPERTENSION          1048575 non-null  int64
 14  OTHER_DISEASE         1048575 non-null  int64
 15  CARDIOVASCULAR        1048575 non-null  int64
 16  OBESITY               1048575 non-null  int64
 17  RENAL_CHRONIC         1048575 non-null  int64
 18  TOBACCO               1048575 non-null  int64
 19  CLASIFFICATION_FINAL  1048575 non-null  int64
 20  ICU                   1048575 non-null  int64
dtypes: int64(20), object(1)
memory usage: 168.0+ MB

In [16]:
covid_data.isnull().sum()

USMER                   0
MEDICAL_UNIT            0
SEX                     0
PATIENT_TYPE            0
DATE_DIED               0
INTUBED                 0
PNEUMONIA               0
AGE                     0
PREGNANT                0
DIABETES                0
COPD                    0
ASTHMA                  0
INMSUPR                 0
HIPERTENSION            0
OTHER_DISEASE           0
CARDIOVASCULAR          0
OBESITY                 0
RENAL_CHRONIC           0
TOBACCO                 0
CLASIFFICATION_FINAL    0
ICU                     0
dtype: int64

In [24]:
# Semilla para reproducir
np.random.seed(42)

# Cantidad de datos para crear
num_rows = 1000

# Creacion de un dataframe similar al conjunto de los datos
random_data = pd.DataFrame({
    'SEX': np.random.choice([1, 2], num_rows),
    'AGE': np.random.randint(18, 90, num_rows),
    'PREGNANT': np.random.choice([1, 2, 97], num_rows),
    'DIABETES': np.random.choice([1, 2, 97], num_rows),
    'ASTHMA': np.random.choice([1, 2, 97], num_rows),
    'INMSUPR': np.random.choice([1, 2, 97], num_rows),
    'HIPERTENSION': np.random.choice([1, 2, 97], num_rows),
    'OTHER_DISEASE': np.random.choice([1, 2, 97], num_rows),
    'CARDIOVASCULAR': np.random.choice([1, 2, 97], num_rows),
    'OBESITY': np.random.choice([1, 2, 97], num_rows),
    'RENAL_CHRONIC': np.random.choice([1, 2, 97], num_rows),
    'TOBACCO': np.random.choice([1, 2, 97], num_rows),
})

# Mostrar la data
random_data

,SEX,AGE,PREGNANT,DIABETES,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO
0,1,80,1,1,1,2,1,97,97,1,2,1
1,2,34,97,2,1,2,1,1,97,2,97,1
2,1,50,2,2,2,1,97,1,2,1,97,2
3,1,46,97,2,97,1,1,1,97,2,97,2
4,1,30,1,2,97,1,97,1,2,2,1,97
...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,86,97,97,1,97,1,1,97,1,1,97
996,1,55,1,1,97,2,97,1,2,2,2,2
997,2,58,97,97,97,97,1,1,97,2,1,1
998,2,79,2,1,97,2,1,2,1,2,97,2
999,1,77,1,97,97,97,1,97,97,1,2,1